header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

.menu-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
}

.start-page {
    text-align: center;
}

.slogan {

}

.logotype {
    display: flex;
}

.logotype img {
    width: 60px;
}

.advantages {

}

.trips-cards {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.trip-card {

}

.blog {
    display: flex;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
